
/* Allow lower case text on Materialize buttons */
.btn-small {
    text-transform: none;
  
}

/* Settings for "New!" badge on new database entries */
#badge {
  font-size:1rem ; 
  float:none;
  background-color: red
}

/* Move term title display to left */
#term_title {
  display: flex;
  justify-content: left;
}

/* Set term title font size bigger than h1 for mobile devices */
#term_text {
    font-size: 5vw;
}

/* Increase term description font size for mobile devices */
#desc_text {
    font-size: 3vw;
}

/* Put border around each list item in the record display */
.collection li {
    border: 1px solid black;
    
}
/* Enlarge font sizes for input box and record display, for mobile devices */
#search_input {
    font-size:3vw;
}

#entry_list_title {
    font-size:5vw;
}

#entry_list {
    font-size:3vw;
}

/* Set navbar title font size bigger for mobile devices */
nav .brand-logo {
    font-size: 4.1vw;
    margin-top: -9px;
}

/* Set add and update page title font size bigger for mobile devices */
.update_title {
    font-size: 6vw;
}

/* Enlarge add and update page input font sizes  for mobile devices */
#term_name {
    font-size:4vw;
}

#term_description {
    font-size:4vw;
}

/* Enlarge the floating action button for display on mobile devices */
.btn-floating.btn-large {
    width: 16vw;
    height:9vh;
    padding: 0;
}

/* Enlarge the floating action button menu items also */
.float_items {
    width: 13vw;
    height:7vh;
    padding-bottom: 0;
}

/* Enlarge and reposition the menu icon on the floating action button */
.btn-large i {
    font-size: 5rem;
    padding-top:3vh;
}

/* Increase spacing between the floating action button and menu items */
.fixed-action-btn ul li {
    margin-bottom: 10vh;
}  

/* Enlarge and reposition the menu item icons on the floating action button */
.fixed-action-btn ul li i {
    font-size: 5rem;
    padding-top:2vh;
}

/* light green background for body */
body {
    background-color: #c8e6c9;
}

/* Colour setting for search box placeholder text for different browsers */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  #a0a0a0;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   #a0a0a0;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:   #a0a0a0;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:   #a0a0a0;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:   #a0a0a0;
}

::placeholder { /* Most modern browsers support this now. */
   color:   #a0a0a0;
}




