{% extends 'base.html' %} {% block content %}
<div class="row">
	<div class="update_title center-align">Add Glossary Entry</div>

	<form action="{{ url_for('add_entry') }}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix green-text text-lighten-2">assignment</i>
				<input id="term_name" name="term_name" type="text" placeholder="Term Name">
				<label class="green-text text-lighten-2" for="icon_prefix"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix green-text text-lighten-2">subject</i>
				<textarea name="term_description" id="term_description"  class="materialize-textarea" placeholder="Term Description"></textarea>
				<label class="green-text text-lighten-2" for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<button class="btn waves-effect waves-light green lighten-2" type="submit" name="action">Add Entry
                <i class="material-icons right">playlist_add</i>
             </button>
		</div>
	</form>



	<div class="fixed-action-btn click-to-toggle hide-on-large-only">
		<a class="btn-floating btn-large green lighten-2">
			<i class="large material-icons">menu</i>
		</a>
		<ul>
			<li><a class="float_items btn-floating green darken-1" href="{{url_for('add')}}"><i class="material-icons">add</i></a>
			</li>

		</ul>
	</div>

</div>

{% endblock %}