<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
	<nav class="green lighten-2">
		<div class="nav-wrapper">

			<a href="{{ url_for('home') }}" class="brand-logo center">Energy Glossary</a>


			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a class="btn-small blue" href="{{url_for('add')}}">Add</a></li>
                {% block update_here %}{% endblock %}
                {% block delete_here %}{% endblock %}
			</ul>


		</div>
	</nav>


	<div class="container">
		{% block content %} {% endblock %}

	</div>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
            <!-- Initialize navbar and floating action button for menus -->
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
            $('.fixed-action-btn').floatingActionButton();

        });

        <!-- Initialize floating action button (menu) for mobile -->
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
                    hoverEnabled: false
            });
        });
	</script>
</body>