<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
	<nav>
		<div class="nav-wrapper">

                <a href="#" class="brand-logo center">Energy Glossary</a>

                    <form action="{{ url_for('search_terms') }}" method="POST">
                        <div class="left row" id="topbarsearch">
                            <div class="input-field col s12 black-text">
                                <i class="black-text material-icons prefix">search</i>
                                <input type="text" placeholder="search" name="search_input" class="black-text" >
                            </div>
                        </div>
                    </form>
				
				

				<ul id="nav-mobile" class="hide-on-small-only right">
					<li><a href="addupdate.html">Add</a></li>
					<li><a href="addupdate.html">Update</a></li>
					<li><a href="read.html">Read</a></li>
				</ul>


			</div>
	</nav>
	<div class="container">
		{% block content %} {% endblock %}
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });
        
 
	</script>
</body>