{% extends 'base.html'%} {% block content %}
<div class="row">

    <form action="{{ url_for('search_terms') }}" method="POST" id="search_form">
		<div class="center row">
			<div class="input-field col s4 black-text">
				<i class="black-text material-icons prefix">search</i>
				<input type="text" placeholder="Enter an energy term to search for" name="search_input" class="black-text" >
            </div>
			</div>
	</form>
	<br>
	<br>
       
        

            
        
            
        

 

</div>
{% endblock %}