{% extends 'base.html'%}
{% block update_here %}<li><a class="btn-small blue" href="{{url_for('update', term_id=result_term['_id'])}}">Update</a></li>{% endblock %}
{% block delete_here %}<li><a class="btn-small blue" href="{{ url_for('delete', term_id=result_term['_id']) }}"
						onclick="return confirm('Are you sure you want to delete the entry?');">Delete</a></li>{% endblock %}
 
 
 {% block content %}
 
 
<div class="row">

                    <br></br>
                    <div id="term_title">
                        <h1>{{result_term['term']}}</h1><span id="badge" class ="{{badge_class}}" data-badge-caption="New!"></span>
                                      
                    </div>
                    <div>
                        <p>{{result_term['description']}}</p>
                    </div>

	<div class="fixed-action-btn click-to-toggle hide-on-large-only">
		<a class="btn-floating btn-large green lighten-2">
			<i class="large material-icons">menu</i>
		</a>
		<ul>
			<li><a class="btn-floating green darken-1"
					href="{{url_for('add')}}"><i class="material-icons">add</i></a></li>
			<li><a class="btn-floating orange"
					href="{{url_for('update', term_id=result_term['_id'])}}"><i class="material-icons">mode_edit</i></a></li>

			<li><a class="btn-floating red" href="{{ url_for('delete', term_id=result_term['_id']) }}"
					onclick="return confirm('Are you sure you want to delete the entry?');"><i class="material-icons">delete</i></a>
			</li>
		</ul>
	</div>




</div>
{% endblock %}