{% extends 'base.html'%} {% block content %}
<div class="row">


	<div>

		<h1>{{result_term['term']}}</h1>
		<p>{{result_term['description']}}</p>



	</div>

	<div class="fixed-action-btn click-to-toggle hide-on-large-only">
		<a class="btn-floating btn-large green lighten-2">
			<i class="large material-icons">menu</i>
		</a>
		<ul>
			<li><a class="btn-floating green darken-1"
					href="{{url_for('add')}}"><i class="material-icons">add</i></a></li>
			<li><a class="btn-floating orange"
					href="{{url_for('update', term_id=result_term['_id'])}}"><i class="material-icons">mode_edit</i></a></li>

			<li><a class="btn-floating red" href="{{ url_for('delete', term_id=result_term['_id']) }}"
					onclick="return confirm('Are you sure you want to delete the entry?');"><i class="material-icons">delete</i></a>
			</li>
		</ul>
	</div>




</div>
{% endblock %}